VITE_API_URL=http://localhost:8080/api/v1

# ThunderID Configs
VITE_THUNDERID_CLIENT_ID=<thunderid_spa_client_id>
VITE_THUNDERID_BASE_URL=https://localhost:8090
VITE_THUNDERID_SCOPES="openid profile email roles"
VITE_THUNDERID_AFTER_SIGN_IN_URL=http://localhost:5173/
VITE_THUNDERID_AFTER_SIGN_OUT_URL=http://localhost:5173/
