VITE_API_URL=http://localhost:8080/api/v1

VITE_ASGARDEO_CLIENT_ID=<asgardeo_spa_client_id>
VITE_ASGARDEO_BASE_URL=https://api.asgardeo.io/t/<org-name>
VITE_ASGARDEO_SCOPES="openid profile email roles"
