APP_ENV=development
PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_NAME=openschool
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSLMODE=disable

THUNDERID_BASE_URL=https://localhost:8090
THUNDERID_OU_ID=
THUNDERID_CLIENT_ID=
THUNDERID_CLIENT_SECRET= #keep this empty maybe handled by jwks
THUNDERID_TOKEN_URL=https://localhost:8090/oauth2/token
THUNDERID_JWKS_URL=https://localhost:8090/oauth2/jwks
THUNDERID_ISSUER=https://localhost:8090

# role ids from thunderid
THUNDERID_ROLE_STUDENT=
THUNDERID_ROLE_TEACHER=
THUNDERID_ROLE_ADMIN=

ASGARDEO_ROLE_STUDENT=
ASGARDEO_ROLE_TEACHER=
ASGARDEO_ROLE_ADMIN=

ASGARDEO_BASE_URL=https://api.asgardeo.io/t/<org-name>
ASGARDEO_TOKEN_URL=https://api.asgardeo.io/t/<org-name>/oauth2/token
ASGARDEO_JWKS_URL=https://api.asgardeo.io/t/<org-name>/oauth2/jwks
ASGARDEO_ISSUER=https://api.asgardeo.io/t/<org-name>/oauth2/token
ASGARDEO_CLIENT_ID=
ASGARDEO_CLIENT_SECRET=
