APP_ENV=development
PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_NAME=openschool
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSLMODE=disable

THUNDERID_JWKS_URL=https://localhost:8090/oauth2/jwks
THUNDERID_ISSUER=https://localhost:8090/oauth2/token

THUNDERID_BASE_URL=https://localhost:8090
THUNDERID_OU_ID=